accordion-header {
  cursor: pointer;
}

.accordion-open {
  color: brown;
}

.card {
  border-radius: none;
}
.card-body {
  background-color: chocolate;
  border: 1px solid rgba(0, 0, 0, 0.125);
  color: white;
}

.card-header {
  background-color: rgba(160, 155, 155, 0.03);
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: -1px;
}
